# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
city_weather_df=pd.read_csv("../WeatherPy/city_weather_df.csv")
city_weather_df

,City,Country,Latitude,Longitude,Max Temperature,Humidity,Cloud coverage,Wind Speed,City datetime
0,Castro,BR,-24.7911,-50.0119,59.95,98,13,3.22,1617079896
1,Cidreira,BR,-30.1811,-50.2056,64.98,77,22,12.88,1617079952
2,Chu,KZ,43.5983,73.7614,43.38,61,100,15.39,1617080146
3,Rikitea,PF,-23.1203,-134.9692,78.89,71,2,16.67,1617079881
4,Bandarbeyla,SO,9.4942,50.8122,79.77,57,99,4.14,1617080146
...,...,...,...,...,...,...,...,...,...
523,Taunggyi,MM,20.7833,97.0333,83.82,14,4,12.35,1617080246
524,Kibala,TD,9.1104,18.3463,71.60,43,0,4.97,1617079705
525,Port Hardy,CA,50.6996,-127.4199,42.80,70,75,4.61,1617079685
526,Doha,QA,25.2867,51.5333,73.40,46,0,16.11,1617080246
527,Invercargill,NZ,-46.4000,168.3500,64.99,77,100,5.01,1617079979

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure